/* reset */

html {
    font-size: 100%;
    line-height: 1.5rem;
    width: auto;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;   
}

body {
    margin: auto;
    width: auto;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(240, 239, 229);
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* HEADER */

.header-nav {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-color: rgb(1, 1, 29);
    margin-top: 0;
}

.logo, 
.nav-menu {
    text-transform: uppercase;
}

.nav-menu
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    flex: 1 0 10%;
    text-align: center;
}

.logo a,
.nav-menu a,
#usericon {
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    color: white;    
}


.logo {
    margin: 0 auto;
}

.logo a{
    color: rgb(121, 0, 0);
}

.nav-menu a {
    color: white;
    transition: all ease-in-out 0.5s;

}

.nav-menu a:hover {
    transform: scale(1.1);
}

.nav-menu a:active {
    transform: scale(0.9);
}

/* Section 1 */

.banner1 {
position: absolute;
 width: auto;
 margin-left: 0vw;
}

        #imgbanner1 {
        display: flex;
        margin-left: 0;

        }

        .banner1 h2{
        font-size: 2.5rem;
        font-weight: lighter;
        display: flex;
        float: center;
        justify-content: center;
        align-content: center;
        }

        #play {
        display:flex;
        color: black;
        }

        #rank {

        display: flex;
        color: red;

        }

            #banner1bottom{
            color: gray;
            display: inline-block;
            padding-left: 4.5rem;
            padding-top: 2rem;
            

            }

            .timeicon{
            font-size: 3rem;
            margin-top: 1.5rem;
            }

            .phoneicon{
                font-size: 3rem; 
                margin-top: 1.5rem;
            }

            /* TEMPO */
            .tempo{
            font-size: 0.9rem;
            display: flex;
            }

            #tempotitle{
            display: flex;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-top: 0.5rem;
            margin-left:2.4rem;
            white-space:nowrap;
            color: rgb(75, 75, 75);

            }

            #tempotxt{
            display: flex;
            white-space:nowrap;
            margin-top: 4rem;
            margin-left: -11rem;
            }

        /* professor */


            .professor{
                font-size: 0.9rem;
                display: flex;
                padding-top: 4rem;
            }

            .professor p{
                display: flex;
                text-align: left;
            }

            #professortitle {
                display: flex;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin-left:2.3rem;
                white-space:nowrap;
                color: rgb(75, 75, 75);
            }

            #professortext{
                display: flex;
                white-space:nowrap;
                margin-left: -13rem;
                margin-top: 4rem;
            }

/* BANNER 2 */

.banner2{
    display: flex;
    padding-top: 60rem;
}

            .banner2 p{
            display: flex;
            font-size: 2rem;
            text-transform: uppercase;
            white-space:nowrap;
            color: rgb(75, 75, 75);
        }

            .banner2 img{
            display: flex;
            }

/* Lista de Games */

#gamelist{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0; 
}


/* Lista de Professores */

#mestres{
    display: flex;
    font-size: 4vw;
    width: 100vw;
    text-transform: uppercase;
    white-space:nowrap;
    width: 10vw;
    color: rgb(75, 75, 75);
    margin-left: 32vw;
}    

.professores{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200vh;
    margin-left: 0vw;
    margin-top: 120vh;
    justify-self: center;
    
}

#listaprofessores{
    position: relative;
    height: 50vh;
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 15vh;


}

#listaprofessores .pfoto{
    display: flex;
    width: 150%;
}

 .plist{
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(175, 175, 175);
    border-width: 0.5px;
    padding: 1em;
    margin-bottom: 2.5em;
    margin-left: -42vw;
    
}

#listaprofessores .eloicon{
    display: flex;
    width: 15vw;
    height: 2em;
    margin-left: 55vw;
    margin-top: -8vh;
    
}

#listaprofessores .maisbtn {
    display: flex;
    text-align: center;
    align-content: center;
    margin-left: 8vw;
    margin-top: 5vh;
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    white-space: nowrap;
    padding: 0.5em 5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 8px;
}

.hidden{
    display: none;
}

/* FOOTER */

.fcontainer{
    display: flex;
    position: absolute;
    margin-top: 300vh;
    background-color: rgb(1, 1, 29);
    width: auto;
    height: 30vh;
    color: white;
    border-top: solid white;
    white-space: nowrap;
    font-size: 4vw;
    flex-wrap: wrap;
    
}

#fcontato {
    position: relative;
    display: flex;
    margin-left: 10vw;
    justify-content: left;
}

.telefone{
    display: flex;
    position: relative;
    margin-top: 7vh;
    margin-left: -20vw;
    
}

#telnumber{
    display: flex;
    margin-top: -0.5vh;
    margin-left: 5vw;
}

.email{
    display: flex;
    margin-top: 10vh;
    margin-left: -44vw;
}

#femail{
    display: flex;
    margin-left: 5vw;
    margin-top: -0.5vh;
}

#redes{
    display: flex;
    margin-left: 5vw;
    justify-content: right;
}

#fredes{
    display: flex;
    margin-left: 7.5vw;
}

.fbicon{
    display: flex;
    margin-top: 7.5vh;
    margin-left: -15vw;
    font-size: 2em;
}

.instaicon{
    margin-top: 7.5vh;
    margin-left: 5vw;
    font-size: 2em;
}

#fbottom{
    width: 100%;
    display: flex;
    border-top: solid white;
    margin-top: 0vh;
    margin-left: 0vw;
    justify-content: center;
}

#copyright{
    display: flex;
}


/* MEDIA QUERRY */

/* 6.7.8 */

